* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Work Sans", sans-serif;
}

body {
  background: #1a1a1a;
}

aside {
  background-color: rgb(0, 0, 0);
  max-height: 100%;
  padding-left: 2rem !important;
}
aside .aside__logo {
  height: 70px;
}
aside .aside__logo img {
  display: block;
  height: 40px;
}
aside .aside__customer ul {
  list-style: none;
  padding: 0px;
}
aside .aside__customer li {
  padding-top: 1rem;
}
aside .aside__customer a {
  text-decoration: none;
  color: white;
  font-weight: 900;
}
aside .aside__customer a:hover {
  color: #e74c3c;
}
aside .aside__customer i {
  padding-right: 0.7rem;
}
aside .aside__customer p {
  display: inline-block;
}

article header {
  height: 70px;
  background-color: #1abc9c;
  width: 83.34%;
  position: fixed;
  right: 0px;
  z-index: 999;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem;
}
article .header__search {
  flex: 65%;
}
article .header__search input {
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  border: 0;
  width: 85%;
}
article .header__search:hover {
  cursor: auto;
}
article .header__search i {
  font-size: 1.3rem;
  vertical-align: middle;
  color: black;
  padding-left: 0.5rem;
}
article .header__search i:hover {
  color: white;
}
article .header__customs {
  flex: 35%;
  text-align: end;
}
article .header__customs a {
  text-decoration: none;
  color: lightyellow;
  padding: 0 0.7rem;
  font-size: 1.2rem;
}
article .header__customs .header__customs__combine--show {
  display: none;
}
article .header__customs a:hover {
  color: rgba(0, 0, 0, 0.7);
}
article .header__customs img {
  width: 40px;
  border-radius: 40px;
}
article main {
  position: relative;
  top: 70px;
  padding: 0px 0px 70px 0px;
}
article .main__left__today-music {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  color: white;
}
article .main__left__today-music h3 {
  flex: 100%;
  padding-left: 1rem;
}
article .main__left__today-music .main__left__today-music--item {
  flex: 25%;
  padding: 1rem;
}
article .main__left__today-music .main__left__today-music--item a {
  text-decoration: none;
  color: white;
}
article .main__left__today-music .main__left__today-music--item a:hover {
  color: #1abc9c;
}
article .main__left__today-music .main__left__today-music--item .main__left__today-music-img {
  position: relative;
  overflow: hidden;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}
article .main__left__today-music .main__left__today-music--item .main__left__today-music-img img {
  width: 100%;
  transition: transform 0.5s ease;
}
article .main__left__today-music .main__left__today-music--item .main__left__today-music--overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  top: 0;
  /* bottom:0; */
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: 0.5s;
  display: flex;
}
article .main__left__today-music .main__left__today-music--item .main__left__today-music--overlay i {
  color: white;
  font-size: 2rem;
  display: block;
  margin: auto;
}
article .main__left__today-music .main__left__today-music--item .main__left__today-music-img:hover .main__left__today-music--overlay {
  opacity: 1;
}
article .main__left__today-music .main__left__today-music--item .main__left__today-music-img:hover img {
  transform: scale(1.2);
  border-radius: 5px;
}
article .main__left__feel-music {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
}
article .main__left__feel-music .main__left__feel-music__head {
  flex: 100%;
  color: white;
}
article .main__left__feel-music .main__left__feel-music__head h3 {
  display: inline-block;
  width: 49%;
  padding-left: 1rem;
}
article .main__left__feel-music .main__left__feel-music__head p {
  display: inline-block;
  text-align: end;
  width: 49%;
}
article .main__left__feel-music .main__left__feel-music__head a {
  text-decoration: none;
  color: #1abc9c;
}
article .main__left__feel-music .main__left__feel-music__head:hover a {
  color: #e74c3c;
}
article .main__left__feel-music .main__left__feel-music--item {
  flex: 33%;
  position: relative;
  padding: 1rem;
}
article .main__left__feel-music .main__left__feel-music--item a {
  text-decoration: none;
  color: white;
}
article .main__left__feel-music .main__left__feel-music--item a:hover {
  color: #1abc9c;
}
article .main__left__feel-music .main__left__feel-music--item .main__left__feel-music--img {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}
article .main__left__feel-music .main__left__feel-music--item .main__left__feel-music--img img {
  width: 100%;
  transition: transform 0.5s ease;
}
article .main__left__feel-music .main__left__feel-music--item .main__left__feel-music--overlay {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: 0.5s;
  display: flex;
}
article .main__left__feel-music .main__left__feel-music--item .main__left__feel-music--overlay i {
  color: white;
  font-size: 2rem;
  display: block;
  margin: auto;
}
article .main__left__feel-music .main__left__feel-music--item .main__left__feel-music--img:hover .main__left__feel-music--overlay {
  opacity: 1;
}
article .main__left__feel-music .main__left__feel-music--item .main__left__feel-music--img:hover img {
  transform: scale(1.2);
  border-radius: 5px;
}
article .main__left__for-you {
  display: flex;
  flex-wrap: wrap;
}
article .main__left__for-you .main__left__for-you--head {
  flex: 100%;
  padding-left: 1rem;
  color: white;
}
article .main__left__for-you .main__left__for-you--slide {
  flex: 100%;
}
article .main__left__for-you .main__left__for-you--slide .main__left__for-you--slide--item {
  display: flex;
}
article .main__left__for-you .main__left__for-you--slide .main__left__for-you--slide--item .for-you-item {
  flex: 33%;
  padding: 1rem;
}
article .main__left__for-you .main__left__for-you--slide .main__left__for-you--slide--item .for-you-item a {
  text-decoration: none;
  color: white;
}
article .main__left__for-you .main__left__for-you--slide .main__left__for-you--slide--item .for-you-item a:hover {
  color: #1abc9c;
}
article .main__left__for-you .main__left__for-you--slide .main__left__for-you--slide--item .for-you-item .zoom-img {
  overflow: hidden;
  border-radius: 5px;
}
article .main__left__for-you .main__left__for-you--slide .main__left__for-you--slide--item .for-you-item .zoom-img img {
  width: 100%;
  transition: transform 0.5s ease;
}
article .main__left__for-you .main__left__for-you--slide .main__left__for-you--slide--item .for-you-item .zoom-img img:hover {
  transform: scale(1.2);
}
article .main__left__for-you .main__left__for-you--slide .main__left__for-you--slide--item .for-you-item h3 {
  font-size: 1rem;
  padding-top: 1rem;
}
article .main__left__for-you .main__left__for-you--slide .main__left__for-you--slide--item .for-you-item p {
  font-size: 0.7rem;
}
article .main__right {
  padding-top: 1rem;
}
article .main__right .main__right--head h3 {
  display: inline-block;
  vertical-align: middle;
  color: white;
}
article .main__right .main__right--head a {
  text-decoration: none;
  color: #1abc9c;
  font-size: 1.5rem;
  padding-left: 0.5rem;
}
article .main__right .main__right--head a:hover {
  color: #e74c3c;
}
article .main__right .main__right--kind-music {
  padding-top: 1rem;
}
article .main__right .main__right--kind-music a {
  width: 33%;
  text-decoration: none;
  color: white;
  float: left;
  text-align: center;
  padding: 0.5rem 1rem;
  background-color: rgba(204, 200, 207, 0.5333333333);
  font-size: 1.2vmax;
}
article .main__right .main__right--kind-music a:first-child {
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  background-color: #e74c3c;
  color: white;
}
article .main__right .main__right--kind-music a:last-child {
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
article .main__right .main__right--kind-music a:hover {
  background-color: #e74c3c;
  color: white;
}
article .main__right .main__right--list-music ul {
  list-style: none;
  padding: 0px;
}
article .main__right .main__right--list-music .info-data {
  clear: both;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
article .main__right .main__right--list-music .info-data .rank-number {
  padding: 1rem;
  font-size: 1.8rem;
  text-align: center;
  width: 5rem;
  height: 5rem;
}
article .main__right .main__right--list-music .info-data .rank-name {
  padding-top: 1rem;
}
article .main__right .main__right--list-music .info-data .rank-name a {
  text-decoration: none;
  color: white;
}
article .main__right .main__right--list-music .info-data .rank-name a:hover {
  color: #1abc9c;
}
article .main__right .main__right--list-music .info-data .rank-name h3 {
  font-size: 1rem;
}
article .main__right .main__right--list-music .info-data .rank-name h4 {
  font-size: 0.8rem;
}
article .main__right .main__right--list-music .number-1 .rank-number {
  color: #e74c3c;
}
article .main__right .main__right--list-music .number-2 .rank-number {
  color: #1abc9c;
}
article .main__right .main__right--list-music .number-3 .rank-number {
  color: #bc1a8b;
}
article .main__right .main__right--list-music .number-4 .rank-number, article .main__right .main__right--list-music .number-5 .rank-number, article .main__right .main__right--list-music .number-6 .rank-number, article .main__right .main__right--list-music .number-7 .rank-number, article .main__right .main__right--list-music .number-8 .rank-number, article .main__right .main__right--list-music .number-9 .rank-number, article .main__right .main__right--list-music .number-10 .rank-number {
  color: white;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0px;
  height: 70px;
  flex-wrap: nowrap;
  background-color: #1abc9c;
  color: white;
  align-items: center;
}
footer .music-player-name {
  flex: 25%;
  display: flex;
  align-items: center;
}
footer .music-player-name .music-player-name__img {
  padding-left: 10px;
}
footer .music-player-name .music-player-name__img img {
  height: 50px;
  border-radius: 5px;
}
footer .music-player-name .music-player-name__info {
  padding-left: 10px;
  height: 50px;
  width: 100%;
}
footer .music-player-name .music-player-name__info h3 {
  font-size: 1.2rem;
}
footer .music-player-name .music-player-name__info p {
  font-size: 0.8rem;
  padding: 0px;
}
footer .music-player-name .music-player-name__info a {
  text-decoration: none;
  color: white;
  vertical-align: middle;
}
footer .music-player {
  flex: 50%;
}
footer .music-player audio {
  width: 100%;
}
footer .music-player-list {
  flex: 25%;
  text-align: end;
  padding-right: 1rem;
}
footer .music-player-list a {
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.3rem;
  padding-right: 1rem;
  border-radius: 5px;
  color: white;
}
footer .music-player-list .music-player-list__show-list {
  text-decoration: none;
  font-size: 0.8rem;
  background-color: #e74c3c;
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
}

@media only screen and (max-width: 992px) {
  aside {
    padding: 0.5rem !important;
  }
  aside .aside__logo {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  aside .aside__logo img {
    height: 30px;
  }
  aside .aside__customer {
    text-align: center;
  }
  aside .aside__customer p {
    display: none;
  }
  aside .aside__customer i {
    padding: 0;
  }

  article header {
    width: 91.7%;
  }
  article .main__right .main__right--kind-music a {
    font-size: 2vmax;
  }
  article .main__right .main__right--list-music .info-data .rank-number {
    width: 5rem;
    height: 5rem;
  }

  footer .music-player-name .music-player-name__info p {
    display: none;
  }
  footer .music-player-list a {
    font-size: 0.8rem;
    padding: 0.1rem;
    padding-right: 0.4rem;
  }
}
@media only screen and (max-width: 768px) {
  article header .header__customs a {
    font-size: 0.8rem;
  }
  article header .header__customs img {
    width: 20px;
    border-radius: 20px;
  }

  footer .music-player-name {
    flex: 10%;
  }
  footer .music-player-name .music-player-name__img img {
    padding-left: 3vmax;
    border-radius: 5px;
    padding-right: 3vmax;
  }
  footer .music-player-name .music-player-name__info h3 {
    display: none;
  }
  footer .music-player-name .music-player-name__info p {
    display: none;
  }
  footer .music-player-list {
    flex: 35%;
  }
  footer .music-player-list a {
    font-size: 0.8rem;
    padding: 0.1rem;
    padding-right: 0.4rem;
    padding-left: 0.4rem;
  }
}
@media only screen and (max-width: 576px) {
  aside {
    display: none;
  }

  article header {
    width: 100%;
  }
  article header .header__search {
    flex: 80%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }
  article header .header__search i {
    font-size: large;
  }
  article header .header__customs {
    flex: 20%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
  }
  article header .header__customs .header__customs__combine {
    display: none;
  }
  article header .header__customs .header__customs__combine--show {
    display: inline;
  }
  article .main__right .main__right--list-music .info-data .rank-number {
    width: 5rem;
    height: 5rem;
  }

  footer .music-player-name .music-player-name__img img {
    border-radius: 15px;
  }
  footer .music-player {
    flex: 60%;
  }
  footer .music-player-list {
    flex: 15%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
  }
  footer .music-player-list i {
    font-size: small;
    padding: 4px;
  }
  footer .music-player-list .music-player-list__combie {
    display: none;
  }
  footer .music-player-list .music-player-list__combie--show {
    display: inline-block;
  }
}

/*# sourceMappingURL=main.css.map */
